Repository invisageable/zo: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, eazy-clippy, swisskit-clippy, zo-clippy, test

fmt:
  run: cargo fmt --all
  stage_fixed: true

eazy-clippy:
  run: cargo clippy -p eazy -p eazy-core -p eazy-derive -p eazy-keyframe -p eazy-tweener --all-targets -- -D warnings

swisskit-clippy:
  run: cargo clippy -p swisskit -p swisskit-core --all-targets -- -D warnings

zo-clippy:
  run: cargo clippy -p zo -p zo-driver -p zo-compiler -p zo-tokenizer -p zo-parser --all-targets -- -D warnings

test:
  run: cargo nextest run --workspace --all-features

feat(notes): update my speeches.
  notes/speeches/S02/S02E04-04-01-2026.md
  notes/speeches/S02/S02E05-05-01-2026.md
  notes/speeches/S02/S02E06-06-01-2026.md
  notes/speeches/S02/S02E07-07-01-2026.md
Due: none

feat(chore): cleanup and speech.
  README.md
  notes/speeches/S02/S02E05-05-01-2026.md
  notes/speeches/S02/S02E06-06-01-2026.md
  notes/speeches/S02/S02E07-07-01-2026.md
  notes/speeches/S02/S02E08-08-01-2026.md
  sources/README.md
  sources/crafter/swisskit/Cargo.toml
  sources/sitter/tree-sitter-zo/Cargo.toml
  sources/sitter/tree-sitter-zo/README.md
  sources/tweener/eazy/Cargo.toml
Due: none

feat(chore): add speech `S02E08 — 08-01-2026`.
  notes/speeches/S02/README.md
  notes/speeches/S02/S02E08-08-01-2026.md
  notes/speeches/S02/misc/pictures/discover-the-world.jpeg
Due: none

feat(chore): add new speech `S02E09-09-01-2026`.
  notes/speeches/S02/S02E08-08-01-2026.md
  notes/speeches/S02/S02E09-09-01-2026.md
  notes/speeches/S02/misc/images/discover-the-world.jpeg
  notes/speeches/S02/misc/images/tracker-json-output.png
Due: none

fix(speeches): cleanup and update.
  notes/speeches/S02/S02E02-02-01-2026.md
  notes/speeches/S02/S02E03-03-01-2026.md
  notes/speeches/S02/S02E04-04-01-2026.md
  notes/speeches/S02/S02E05-05-01-2026.md
  notes/speeches/S02/S02E06-06-01-2026.md
  notes/speeches/S02/S02E07-07-01-2026.md
  notes/speeches/S02/S02E09-09-01-2026.md
  notes/speeches/S02/S02E10-10-01-2026.md
Due: none

feat(notes): add new speeches `S02E10-10-01-2026`.
  crates/compiler-lib/std/lib.zo
  crates/compiler-lib/std/math.zo
  crates/compiler-lib/std/num/int.zo
  crates/compiler-lib/std/num/u8.zo
  crates/compiler/zo-tasks/generate_test
  crates/compiler/zo-tasks/generate_test.rs
  justfile
  lefthook.yml
  notes/speeches/S02/S02E08-08-01-2026.md
  notes/speeches/S02/S02E09-09-01-2026.md
  notes/speeches/S02/S02E10-10-01-2026.md
  notes/speeches/S02/S02E11-11-01-2026.md
  notes/speeches/S02/misc/images/speakeasy-botanica.jpeg
  sources/crafter/swisskit/README.md
  sources/tweener/eazy-examples/egui-bouncing-ball-animation/src/main.rs
  sources/tweener/eazy-examples/egui-tweener-timeline-stagger/src/main.rs
  sources/tweener/eazy/README.md
Due: fmt, eazy-clippy, zo-clippy, test

feat(notes): add new speech `S02E11 — 11-01-2026`.
  notes/speeches/S02/S02E11-11-01-2026.md
Due: none

feat(notes): add `S02E12-12-01-2026`.
  notes/speeches/S02/S02E10-10-01-2026.md
  notes/speeches/S02/S02E11-11-01-2026.md
  notes/speeches/S02/S02E12-12-01-2026.md
  notes/speeches/S02/misc/images/atlantis.jpg
Due: none

feat(notes): speeches.
  notes/speeches/S02/S02E12-12-01-2026.md
  notes/speeches/S02/S02E13-13-01-2026.md
  notes/speeches/S02/S02E14-14-01-2026.md
Due: none

feat(notes): speeches.
  notes/speeches/S02/S02E14-14-01-2026.md
  notes/speeches/S02/S02E15-15-01-2026.md
Due: none

feat(notes): speeches.
  notes/speeches/S02/S02E15-15-01-2026.md
  notes/speeches/S02/S02E16-16-01-2026.md
  notes/speeches/S02/S02E17-17-01-2026.md
  notes/speeches/S02/misc/images/codelord-first-try-highlighting.png
  notes/speeches/S02/misc/images/codelord-second-try-highlighting.png
  notes/speeches/S02/misc/images/eminem-verse-highlighting.png
Due: none

feat(notes): sppeches.
  notes/speeches/S02/S02E01-01-01-2026.md
  notes/speeches/S02/S02E02-02-01-2026.md
  notes/speeches/S02/S02E03-03-01-2026.md
  notes/speeches/S02/S02E04-04-01-2026.md
  notes/speeches/S02/S02E05-05-01-2026.md
  notes/speeches/S02/S02E06-06-01-2026.md
  notes/speeches/S02/S02E07-07-01-2026.md
  notes/speeches/S02/S02E08-08-01-2026.md
  notes/speeches/S02/S02E09-09-01-2026.md
  notes/speeches/S02/S02E10-10-01-2026.md
  notes/speeches/S02/S02E11-11-01-2026.md
  notes/speeches/S02/S02E12-12-01-2026.md
  notes/speeches/S02/S02E13-13-01-2026.md
  notes/speeches/S02/S02E14-14-01-2026.md
  notes/speeches/S02/S02E15-15-01-2026.md
  notes/speeches/S02/S02E16-16-01-2026.md
  notes/speeches/S02/S02E17-17-01-2026.md
  notes/speeches/S02/S02E18-18-01-2026.md
  notes/speeches/S02/S02E19-19-01-2026.md
  notes/speeches/S02/S02E20-20-01-2026.md
  notes/speeches/S02/S02E21-21-01-2026.md
  notes/speeches/S02/S02E22-22-01-2026.md
  notes/speeches/S02/S02E23-23-01-2026.md
  notes/speeches/S02/misc/images/my-contributions-2026.png
Due: none

feat(notes): speeches.
  notes/speeches/S02/S02E13-13-01-2026.md
  notes/speeches/S02/S02E16-16-01-2026.md
  notes/speeches/S02/S02E17-17-01-2026.md
  notes/speeches/S02/S02E22-22-01-2026.md
  notes/speeches/S02/S02E23-23-01-2026.md
  notes/speeches/S02/S02E24-24-01-2026.md
  notes/speeches/S02/S02E25-25-01-2026.md
Due: none

fix(zo): fix manual checked division issues.
  crates/compiler/zo-constant-folding/src/constfolding.rs
Due: fmt, zo-clippy, test

fix(zo): the bounds-checking bug in `scan_number()`.
  crates/compiler/zo-tokenizer/src/tokenizer.rs
Due: fmt, zo-clippy, test

feat(root, zo): upgrade deps and fix breaking changes.
  Cargo.lock
  Cargo.toml
  crates/compiler/zo-reporter/src/render.rs
  notes/speeches/S02/S02E22-22-01-2026.md
  notes/speeches/S02/S02E23-23-01-2026.md
  notes/speeches/S02/S02E24-24-01-2026.md
Due: fmt, zo-clippy, test

feat(zo): collapse the if into outer `match`.
  crates/compiler/zo-ty-checker/src/tychecker.rs
Due: fmt, zo-clippy, test

feat(zo): collapse the if into outer match.
  crates/compiler/zo-executor/src/executor.rs
Due: fmt, zo-clippy, test

feat(eazy): fix `InCircle` wrong implementation.
  sources/tweener/eazy-core/src/easing/trigonometric/circle.rs
Due: fmt, eazy-clippy, test

fix(eazy): fix 5 easing bugs and upgrade 48 unit tests.
  sources/tweener/eazy-core/src/easing.rs
  sources/tweener/eazy-core/src/easing/backtracking/back.rs
  sources/tweener/eazy-core/src/easing/exponential/expo2.rs
  sources/tweener/eazy-core/src/easing/exponential/expoe.rs
  sources/tweener/eazy-core/src/easing/logarithmic/log10.rs
  sources/tweener/eazy-core/src/easing/oscillatory/bounce.rs
  sources/tweener/eazy-core/src/easing/polynomial/cubic.rs
  sources/tweener/eazy-core/src/easing/polynomial/decic.rs
  sources/tweener/eazy-core/src/easing/polynomial/hectic.rs
  sources/tweener/eazy-core/src/easing/polynomial/nonic.rs
  sources/tweener/eazy-core/src/easing/polynomial/octic.rs
  sources/tweener/eazy-core/src/easing/polynomial/quadratic.rs
  sources/tweener/eazy-core/src/easing/polynomial/quartic.rs
  sources/tweener/eazy-core/src/easing/polynomial/quintic.rs
  sources/tweener/eazy-core/src/easing/polynomial/septic.rs
  sources/tweener/eazy-core/src/easing/polynomial/sextic.rs
  sources/tweener/eazy-core/src/easing/root/sqrt.rs
Due: fmt, eazy-clippy, test

feat(eazy): updates doc comments.
  sources/tweener/eazy-core/src/easing/backtracking/back.rs
  sources/tweener/eazy-core/src/easing/polynomial/cubic.rs
  sources/tweener/eazy-core/src/easing/trigonometric/circle.rs
  sources/tweener/eazy-core/src/easing/trigonometric/sine.rs
Due: fmt, eazy-clippy, test

perf(eazy): use hardware FPU math, fix OutExpoE dispatch bug.
  sources/tweener/eazy-core/Cargo.toml
  sources/tweener/eazy-core/src/easing.rs
  sources/tweener/eazy-core/src/easing/exponential/expo2.rs
  sources/tweener/eazy-core/src/easing/exponential/expoe.rs
  sources/tweener/eazy-core/src/easing/logarithmic/log10.rs
  sources/tweener/eazy-core/src/easing/oscillatory/elastic.rs
  sources/tweener/eazy-core/src/easing/oscillatory/spring.rs
  sources/tweener/eazy-core/src/easing/root/sqrt.rs
  sources/tweener/eazy-core/src/easing/trigonometric/circle.rs
  sources/tweener/eazy-core/src/easing/trigonometric/sine.rs
  sources/tweener/eazy-core/src/lib.rs
  sources/tweener/eazy-core/src/math.rs
Due: fmt, eazy-clippy, test

clean(eazy): fix doc tests.
  sources/tweener/eazy-core/src/easing/backtracking/back.rs
  sources/tweener/eazy-core/src/easing/exponential/expo2.rs
  sources/tweener/eazy-core/src/easing/exponential/expoe.rs
  sources/tweener/eazy-core/src/easing/logarithmic/log10.rs
  sources/tweener/eazy-core/src/easing/oscillatory/bounce.rs
  sources/tweener/eazy-core/src/easing/oscillatory/elastic.rs
  sources/tweener/eazy-core/src/easing/polynomial/cubic.rs
  sources/tweener/eazy-core/src/easing/polynomial/decic.rs
  sources/tweener/eazy-core/src/easing/polynomial/hectic.rs
  sources/tweener/eazy-core/src/easing/polynomial/linear.rs
  sources/tweener/eazy-core/src/easing/polynomial/none.rs
  sources/tweener/eazy-core/src/easing/polynomial/nonic.rs
  sources/tweener/eazy-core/src/easing/polynomial/octic.rs
  sources/tweener/eazy-core/src/easing/polynomial/quadratic.rs
  sources/tweener/eazy-core/src/easing/polynomial/quartic.rs
  sources/tweener/eazy-core/src/easing/polynomial/quintic.rs
  sources/tweener/eazy-core/src/easing/polynomial/septic.rs
  sources/tweener/eazy-core/src/easing/polynomial/sextic.rs
  sources/tweener/eazy-core/src/easing/root/sqrt.rs
Due: fmt, eazy-clippy, test

bump(eazy): patch version.
  Cargo.lock
  Cargo.toml
  sources/tweener/eazy-core/Cargo.toml
  sources/tweener/eazy-derive/Cargo.toml
  sources/tweener/eazy-keyframe/Cargo.toml
  sources/tweener/eazy-tweener/Cargo.toml
  sources/tweener/eazy/Cargo.toml
Due: none

feat(constant-folding): add width-aware folding, simplification, and strength reduction.
  Cargo.lock
  Cargo.toml
  crates/compiler/zo-constant-folding/src/constfolding.rs
  crates/compiler/zo-constant-folding/src/lib.rs
  crates/compiler/zo-constant-folding/src/tests.rs
  crates/compiler/zo-constant-folding/src/tests/common.rs
  crates/compiler/zo-constant-folding/src/tests/errors.rs
  crates/compiler/zo-constant-folding/src/tests/folding.rs
  crates/compiler/zo-constant-folding/src/tests/simplify.rs
  crates/compiler/zo-constant-folding/src/tests/strength.rs
  crates/compiler/zo-constant-folding/src/tests/width.rs
  crates/compiler/zo-executor/src/executor.rs
  crates/compiler/zo-profiler/Cargo.toml
  crates/compiler/zo-profiler/src/profiler.rs
Due: fmt, zo-clippy, test

feat(root): improve claude setup.
  .claude/skills/tests/TESTING-PROTOCOL.md
  .claude/skills/zo-architecture-guard/SKILL.md
  .claude/skills/zo-architecture-guard/references/architecture-quick-ref.md
  .claude/skills/zo-build-check/SKILL.md
  .claude/skills/zo-codegen-review/SKILL.md
  .claude/skills/zo-codegen-review/references/codegen-checklist.md
  .claude/skills/zo-perf-bench/SKILL.md
  .claude/skills/zo-perf-bench/references/perf-targets.md
  .claude/skills/zo-test-runner/SKILL.md
  CLAUDE.md
  crates/compiler/zo-analyzer/README.md
  crates/compiler/zo-constant-folding/NOTES.md
  crates/compiler/zo-constant-folding/README.md
  justfile
Due: none

feat(templating): implement MVP with tag registry, typed attributes, and event dispatch
  Cargo.lock
  crates/compiler/zo-driver/Cargo.toml
  crates/compiler/zo-driver/src/cmd/run.rs
  crates/compiler/zo-executor/src/executor.rs
  crates/compiler/zo-notes/public/grammar/zo.ebnf
  crates/compiler/zo-parser/src/tests/templates.rs
  crates/compiler/zo-runtime-native/Cargo.toml
  crates/compiler/zo-runtime-native/src/renderer.rs
  crates/compiler/zo-runtime-native/src/runtime.rs
  crates/compiler/zo-runtime-render/Cargo.toml
  crates/compiler/zo-runtime-render/src/render.rs
  crates/compiler/zo-runtime-web/Cargo.toml
  crates/compiler/zo-runtime-web/src/renderer.rs
  crates/compiler/zo-runtime-web/src/runtime.rs
  crates/compiler/zo-runtime/src/lib.rs
  crates/compiler/zo-runtime/src/runtime.rs
  crates/compiler/zo-tests/build-pass/templating/attributes.zo
  crates/compiler/zo-tests/build-pass/templating/events.zo
  crates/compiler/zo-tests/build-pass/templating/img.zo
  crates/compiler/zo-tests/build-pass/templating/interactive.zo
  crates/compiler/zo-tests/build-pass/templating/nested.zo
  crates/compiler/zo-tests/build-pass/templating/tags.zo
  crates/compiler/zo-tokenizer/src/tokenizer.rs
  crates/compiler/zo-ui-protocol/src/lib.rs
  crates/compiler/zo-ui-protocol/src/ui_protocol.rs
Due: fmt, zo-clippy, test

feat(misc): cleanup.
  FRET_REFACTOR_PLAN.md
  crates/compiler-lib/std/io.zo
  crates/packager/fret/README.md
Due: none

feat(modules): add load/pack parsing, module resolver, and intrinsic detection.
  Cargo.lock
  Cargo.toml
  crates/compiler/zo-codegen-arm/src/tests.rs
  crates/compiler/zo-compiler/Cargo.toml
  crates/compiler/zo-compiler/src/compiler.rs
  crates/compiler/zo-driver/src/cmd/build.rs
  crates/compiler/zo-executor/src/executor.rs
  crates/compiler/zo-executor/src/tests.rs
  crates/compiler/zo-executor/src/tests/modules.rs
  crates/compiler/zo-module-resolver/Cargo.toml
  crates/compiler/zo-module-resolver/src/lib.rs
  crates/compiler/zo-module-resolver/src/resolver.rs
  crates/compiler/zo-parser/src/parser.rs
  crates/compiler/zo-parser/src/tests.rs
  crates/compiler/zo-parser/src/tests/modules.rs
  crates/compiler/zo-pp/src/pp.rs
  crates/compiler/zo-sir/src/sir.rs
  crates/compiler/zo-value/src/value.rs
Due: fmt, zo-clippy, test

feat(zo): improves module system.
  Cargo.lock
  crates/compiler/zo-codegen-arm/src/codegen.rs
  crates/compiler/zo-codegen-arm/src/tests.rs
  crates/compiler/zo-compiler/Cargo.toml
  crates/compiler/zo-compiler/src/compiler.rs
  crates/compiler/zo-executor/src/executor.rs
  crates/compiler/zo-executor/src/tests.rs
  crates/compiler/zo-executor/src/tests/modules.rs
  crates/compiler/zo-module-resolver/src/resolver.rs
  crates/compiler/zo-sir/src/sir.rs
  crates/compiler/zo-value/src/value.rs
Due: fmt, zo-clippy, test

feat(zo): improve module system.
  Cargo.lock
  crates/compiler/zo-analyzer/Cargo.toml
  crates/compiler/zo-analyzer/src/analyzer.rs
  crates/compiler/zo-compiler/Cargo.toml
  crates/compiler/zo-compiler/src/compiler.rs
  crates/compiler/zo-executor/src/executor.rs
  crates/compiler/zo-module-resolver/Cargo.toml
  crates/compiler/zo-module-resolver/src/exports.rs
  crates/compiler/zo-module-resolver/src/lib.rs
  crates/compiler/zo-module-resolver/src/resolver.rs
Due: fmt, zo-clippy, test

feat(zo): implement pack.
  crates/compiler/zo-compiler/src/compiler.rs
Due: fmt, zo-clippy, test

feat(modules): implement standard library module system with load/pack, resolution, DCE.
  Cargo.lock
  crates/compiler/zo-compiler/Cargo.toml
  crates/compiler/zo-compiler/src/compiler.rs
  crates/compiler/zo-dce/Cargo.toml
  crates/compiler/zo-dce/src/dce.rs
  crates/compiler/zo-dce/src/lib.rs
  crates/compiler/zo-dce/src/tests.rs
Due: fmt, zo-clippy, test

feat(zo): implement `val` support at executor level.
  crates/compiler/zo-analyzer/src/analyzer.rs
  crates/compiler/zo-analyzer/src/lib.rs
  crates/compiler/zo-compiler/src/compiler.rs
  crates/compiler/zo-dce/src/dce.rs
  crates/compiler/zo-executor/src/executor.rs
  crates/compiler/zo-module-resolver/src/exports.rs
  crates/compiler/zo-module-resolver/src/lib.rs
Due: fmt, zo-clippy, test

feat(zo): `TyId` pre-registration, translation pipeline and cleanup.
  Cargo.lock
  crates/compiler/zo-analyzer/src/analyzer.rs
  crates/compiler/zo-codegen-arm/src/tests.rs
  crates/compiler/zo-compiler/Cargo.toml
  crates/compiler/zo-compiler/src/compiler.rs
  crates/compiler/zo-compiler/src/orchestrator/mod.rs
  crates/compiler/zo-dce/src/dce.rs
  crates/compiler/zo-dce/src/tests.rs
  crates/compiler/zo-executor/src/executor.rs
  crates/compiler/zo-executor/src/tests.rs
  crates/compiler/zo-executor/src/tests/common.rs
  crates/compiler/zo-executor/src/tests/modules.rs
  crates/compiler/zo-module-resolver/Cargo.toml
  crates/compiler/zo-module-resolver/src/exports.rs
  crates/compiler/zo-parser/src/tests/common.rs
  crates/compiler/zo-pp/src/pp.rs
  crates/compiler/zo-ty-checker/src/tychecker.rs
  crates/packager/fret-parser/src/lib.rs
  crates/packager/fret-pipeline/examples/multi_target_build.rs
  crates/packager/fret-pipeline/src/pipeline.rs
  crates/packager/fret-pipeline/src/stage/collect_sources.rs
  crates/packager/fret-pipeline/src/stage/compile.rs
  crates/packager/fret-pipeline/src/stage/execute_plan.rs
  crates/packager/fret-pipeline/src/stage/generate_plan.rs
  crates/packager/fret-pipeline/src/stage/load_config.rs
  crates/packager/fret-pipeline/src/stage/resolve_dependencies.rs
  crates/packager/fret-types/src/lib.rs
  sources/tweener/eazy-tweener/src/timeline.rs
  sources/tweener/eazy/benches/bench/easing/backtracking/back/bench_in_back.rs
  sources/tweener/eazy/benches/bench/easing/backtracking/back/bench_in_out_back.rs
  sources/tweener/eazy/benches/bench/easing/backtracking/back/bench_out_back.rs
Due: fmt, eazy-clippy, zo-clippy, test

feat(fret): cleanup.
  crates/packager/fret-parser/examples/parse_config.rs
  crates/packager/fret-pipeline/examples/multi_target_build.rs
  crates/packager/fret-types/src/lib.rs
Due: fmt, test

Path conditions:
  fmt: any of: **/*.rs
  eazy-clippy: any of: sources/tweener/**/*.rs
  swisskit-clippy: any of: sources/crafter/**/*.rs
  zo-clippy: any of: crates/compiler/**/*.rs
  test: any of: **/*.rs
